<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css"
          href="{{ url_for('static', filename='css/styles.css')}}"
          rel="stylesheet" />
    {% block title %}
      <meta charset="UTF-8">
      <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index')}}">Главная</a></li>
            <li><a href="{{ url_for('about')}}">О сайте</a></li>
            <li><a href="{{ url_for('add_post')}}">Добавить статью</a></li>
            <li><a href="{{ url_for('login')}}">Войти</a></li>
            <li><a href="{{ url_for('register')}}">Регистрация</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <p>&copy; Сайт 2023</p>
</footer>
</body>
</html>
